body{
    background-color: #25dbc3;
}

.cadastro{
    border: 1px solid;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    box-shadow: 5px 3px 3px black;
    background-color: white;
    border-radius: 15px;
}

.form{
    margin-top: 10px;
    margin-bottom: 15px;
}
